* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: auto
}

@font-face {
    font-family: 'Montserrat';
    src: url(Montserrat-VariableFont_wght.ttf);
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}




#header {
    background-color: white;
    padding: 30px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 9rem;
}


.menu {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 15px;


}

.logo {
    width: 169px;
    height: 51.95px;
    flex-shrink: 0;
}

.fa-brands {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

}

a {
    color: #D49270;
}

.redes {
    width: 20%;
}

.titulo {
    color: #D8B186;
    font-size: 30px;
    font-style: normal;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    height: 50px;
}


.titulo-turne {
    color: #BD7D62;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 55px;   
}


.texto-turne {
    color: #5F6368;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    
    align-items: center;
}

.container-turne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 9rem;

}

.turne1 {
    margin:80px 0px;
}

.imagem-turne {
margin: 40px 0;
}


footer{
    background-color: #f7efe3;
    padding: 20px;
   justify-content: center;
    align-items: center;
    text-align: center;
}
.turne1 {
    opacity: 0;
 filter: blur(5px);
   transform: translateY(25%);
    transition: all 1s;
}

.mostrar{
    filter: blur(0);
    opacity: 1;
    transform: translateY(0);
    transition: all 1s;   
}